---
title: Home
layout: default
tab: home
---

<header>
	<h1>Coder</h1>
	<subtitle>Android and web developer, beer officianado</subtitle>
</header>

<section>
	<div class="row">
		<div class="span6">
			<h1>Blog <small>ramblings and snippets I find interesting</small></h1>
			<dl class="unstyled">
				{% for post in site.categories.post limit: 4 %}
				<dt><a href="{{ post.url }}">{{ post.title }}</a> &ndash; <span class="label">{{ post.date | date_to_string }}</span></dt>
				<dd>{{ post.lead }}</dd>
				{% endfor %}
			</dl>
			<p><a href="/posts.html">Show me more &rarr;</a></p>
		</div>
		<div class="span6">
			<h1>Projects <small>Libraries, apps, things I've done</small></h1>
			<dl>
				{% for post in site.categories.project limit: 4 %}
				<dt><a href="{{ post.url }}">{{ post.title }}</a></dt>
				<dd>{{ post.content }}</dd>
				{% endfor %}
			</dl>
			<p><a href="/projects.html">Show me more &rarr;</a></p>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="span12">
			<h1>Socialize <small>Find me on many other networks</small></h1>
		</div>
	</div>
	<div class="row">
		<div class="span3"><a href="http://github.com/RobbyPond">GitHub</a></div>
		<div class="span3"><a href="http://twitter.com/RobbyPond">Twitter</a></div>
		<div class="span3"><a href="http://plus.google.com/+RobbyPond">Google Plus</a></div>
		<div class="span3"><a href="http://untappd.com/user/robbypond">Untappd</a></div>
		<div class="span3"><a href="http://stackoverflow.com/users/297762/robby-pond">Stack Overflow</a></div>
		<div class="span3"><a href="http://foursquare.com/robbypond">Foursquare</a></div>
	</div>
</section>

