---
layout: default
tab: projects
---

<header>
	<img src={{page.icon}} width="100">
	<h1>{{ page.title }}</h1>
	<p>{{ content }}</p>
</header>

<section>
</section>

<script type="text/javascript" src="/static/knockout.min.js"></script>
<script type="text/javascript">
/*
	$(function() {
		function ViewModel() {
			var self = this;

			self.info = ko.observable();
			self.tags = ko.observableArray();
			self.issues = ko.observableArray();
			self.contributors = ko.observableArray();

			self.userAction = function(username) {
				return 'http://github.com/' + username;
			};

			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}?callback=?', function(response) {
				self.info(response.data);
			});
			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}/tags?callback=?', function(response) {
				var data = response.data;

				//Sort alphabetically
				data.sort(function(o1, o2) {
					return (o1.name > o2.name) ? -1 : 1;
				});
				self.tags(data);
			});
			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}/contributors?callback=?', function(response) {
				var data = response.data;

				//Sort by contributions
				data.sort(function(o1, o2) {
					return o2.contributions - o1.contributions;
				});
				self.contributors(data);
			});
			$.getJSON('https://api.github.com/repos/{{ page.owner }}/{{ page.repo }}/issues?callback=?', function(response) {
				var data = response.data;

				//Sort by contributions
				data.sort(function(o1, o2) {
					return o2.number - o1.number;
				});
				self.issues(data);
			});
		}
		ko.applyBindings(new ViewModel());
	});*/
</script>
