---
layout: default
tab: projects
---

<header>
	<h1>{{ page.title }}</h1>
	<p>{{ content }}</p>
</header>

<section>
	<div class="cycle-slideshow">
    		<img src="http://malsup.github.io/images/p1.jpg">
    		<img src="http://malsup.github.io/images/p2.jpg">
    		<img src="http://malsup.github.io/images/p3.jpg">
    		<img src="http://malsup.github.io/images/p4.jpg">
	</div>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<script type="text/javascript">
</script>
