---
layout: default
tab: projects
---

<header>
	<h1>{{ page.title }}</h1>
	<p>{{ content }}</p>
</header>

<section>
	<div class="cycle-slideshow" data-cycle-fx="scrollHorz"
    		data-cycle-prev="#prev"
    		data-cycle-next="#next">
	        {% for image in page.images %}
		<img src="{{ image }}">
		{% endfor %}
	</div>
	<div class="center">
    		<a href=# id="prev">Prev</a> 
    		<a href=# id="next">Next</a>
	</div>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<script type="text/javascript">
</script>
